<div id="amenu-cont">
    <div id="amenu-options-cont">
        <ul id="amenu-options-list">
            <li>
                <input type="button" ng-click="goToLotCreation()" value="new lot" id="amenu-new-lot-button" class="amenu-button" ng-disabled="hasLot"/>
            </li>
            <li>
                <input type="button" value="edit lot" id="amenu-edit-lot-button" class="amenu-button" ng-disabled="!hasLot"/>
            </li>
            <li>
                <input type="button" ng-click="goToManageLots()" value="manage lot" id="amenu-manage-lot-button" class="amenu-button" ng-disabled="!hasLot"/>
            </li>
            <li>
                <input type="button" value="manage parkers" id="amenu-manage-parkers-button" class="amenu-button" ng-disabled="!hasLot"/>
            </li>
        </ul>
    </div>
</div>

<div class="modal-back" ng-show="showCreateModal"></div>

<div class="modal-cont" ng-show="showCreateModal">
    <div class="modal" id="create-lot-modal">
        <div class="modal-title">
            <span class="modal-title-text">Initial Lot Settings</span>
        </div>

        <div class="modal-input-cont">
            <span class="modal-input-label">Name: </span>
            <input class="modal-input" type="text" placeholder="ex. Donut Lot" ng-model="createLotName"/>
        </div>

        <div class="modal-input-cont">
            <span class="modal-input-label">X: </span>
            <input class="modal-input modal-num-input-length" type="number" value="1" max="9999" min="1" ng-model="createLotLength"/>
            <span class="modal-input-label">Y: </span>
            <input class="modal-input modal-num-input-length" type="number" value="1" max="9999" min="1" ng-model="createLotWidth"/>
        </div>

        <div class="modal-error-container" ng-show="createModalError">
            <span class="modal-error-text">Max Value: 9999 Min Value: 1</span>
        </div>

        <div class="modal-buttons-container">
            <input type="button" value="cancel" class="negative-button button-h-space-small" ng-click="closeModal(1)"/>
            <input type="button" value="create" class="standard-button" ng-click="createLot()"/>
        </div>
    </div>
</div>

<div class="modal-cont" ng-show="false">
    <div class="modal" id="manage-lot-modal">

        <div class="modal-title">
            <span class="modal-title-text">Select A Lot</span>
        </div>

        <div class="load-cont">
            <div class="load-lot" ng-repeat="lot in lots">
            </div>
        </div>

        <div class="mddal-buttons-container">
            <input type="button" value="cancel" class="negative-button button-h-space-small" ng-click="closeModal(2)"/>
            <input type="button" value="load" class="standard-button" ng-click="loadLot()"/>
        </div>

    </div>
</div>
